body {
  background-color: #FFF5EB;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 4%;
}
h1{
  color: #E99497;
  font-family: serif;
  font-size: 30px;
}
h3{
  color: #66BFBF;
  font-family: Times New Roman,serif;
  font-size: 20px;
}
p{
  font-family: Times New Roman,serif;
}
